/* RESET NO NAVEGADOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-color: #ffffff; */
    background-image: url(assets/Suecia-fundo.png);
    line-height: 1.6;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}